.container {
	height: 100vh;
  display: grid;
  grid-template-rows: 50px calc(100vh - 50px) 160px;
}


main {
  display: flex;
}

.mailBox {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
}
.mail {
  width: min(70%,70vh);
  margin: auto;
  transition: 0.2s ease-in;
  box-shadow: 3px 5px 5px var(--color-E);
  cursor: pointer;
}
.mail:hover {
    position: relative;
    /*top: -10px;*/
    box-shadow: 3px 5px 5px var(--color-E);
    transform: translateY(-10px)scale(1.05);
}
.mailcontent {
    width: max(80%,320px);
  margin: auto;
  box-shadow: 3px 5px 5px var(--color-E);
    background-color: var(--color-A);
    border: 3px solid var(--color-D);
    height: 60vh;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 707px;
    /*! font-size: 30px; */
}
.mailcontent p {
  font-size: 18px;
  color: var(--color-D);
}
.mailcontent h6 {
  font-size: 18px;
  color: var(--color-C);
  text-decoration: underline var(--color-D) 2px;
}
.none{
   display: none;
}




footer{
	grid-row: 3/4;
	background-color: var(--color-E);
	display: flex;
}
footer p{
	color: var(--color-C);
	font-size: 14px;
	margin: auto;
}

/****************************loading**************************************/
.loading{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-E);
  z-index: 3;
  position: fixed;
  display: flex;
  color: var(--color-D)
}
.typeBox{
  /*width: 40%;*/
  height: 10%;
  margin: auto;
  font-size: 40px

}
.typeBox p{   
    overflow: auto;
    width: 0%;
    word-wrap: normal;
    height: 46px;
    overflow: hidden;
    white-space: nowrap;
    animation: type 1s linear;
    animation-fill-mode:forwards;
}
.type{

}
#mos{
  word-spacing: 9px;
  animation-fill-mode:forwards;
}
#contact {
    width: 0%;
    letter-spacing: 27px;
    animation-delay: 1s;
    animation-fill-mode:forwards;
}

@keyframes type{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mailcontent p{
    font-size: 22px;
  }
  .mailcontent h6 {
    font-size: 24px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mailcontent p {
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  .mailcontent h6 {
    font-size: 26px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}