*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Arial','Noto Sans TC', 'Microsoft Jhenghei';
	text-decoration: none;
	scroll-behavior: smooth;
}
/*
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
*/

:root{
	--color-A: #393E46;/*淺*/
	--color-B: #222831;/*深*/
	--color-C: #EEEEEE;/*米白*/
	--color-D: #00ADB5;/*綠*/
	--color-E: #111418;/*深底*/
}
body{
	background-color: var(--color-B);
}

header{
	background-color: var(--color-E);
	display: inline-flex;
align-items: center;
justify-content: space-between;
}
.logo {
	width: 70px;
	height: 25px;
}
header .logo img{
	width: 70px;
	height: 25px;
}
header .hamburger{
	width: 20px;
	height: 15px;

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}