*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Microsoft Jhenghei;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--color-A: #393E46;/*淺*/
	--color-B: #222831;/*深*/
	--color-C: #EEEEEE;/*米白*/
	--color-D: #00ADB5;/*綠*/
	--color-E: #111418;/*深底*/
}
body{
	background-color: var(--color-B);
}
.container {
  display: grid;
  grid-template-rows: 50px 230px 2050px 225px 160px;
}
header{
	background-color: var(--color-E);
	display: inline-flex;
align-items: center;
justify-content: space-between;
}
.logo {
	width: 70px;
	height: 25px;
}
header .logo img{
	width: 70px;
	height: 25px;
}
header .hamburger{
	width: 20px;
	height: 15px;

}
main{
	grid-row: 3/4;
	background-color:var(--color-E) ; 
	display: flex;
}
.inner{
	height: 1810px;
	width: 100%;
	margin: auto;
	/*border: 1px solid #fff;*/
	display: grid;
	grid-template-rows: repeat(5,1fr);
	grid-gap: 75px;
	justify-items: center;
}
.front {
  display: grid;
  grid-template-rows: 1fr 65px;
  align-items: center;
  justify-items: center;
}

.typeBox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.typeBox h3 {
  color: var(--color-C);
  font-size: 18px;
  display: flex;
	position: relative;
	/*align-items: center;
	justify-content: center;*/
}
.chooseLine{
	width: 120%;
	height: 3px;
	background-color: var(--color-D);
	position: absolute;
	top: 50%;
	left: calc(-20% / 2)
}
.front h2 {
  color: var(--color-C);
  font-size: 40px;
}
.workBox {
	border: 1px solid var(--color-B);
	
	background-color: #14181C;
	width: 100%;
}
.workBox a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.workBox .title {
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.workBox h4 {

	color: var(--color-C);
	font-size: 18px;
}

.workBox p {
color: var(--color-D);
font-size: 12px;
}
.workImgBox {
  width: 255px;
  height: 160px;
  /*border: 1px solid #fff;*/
  
}
.workImg{
	height: 100%;
	background-image: url(../images/web.png);
  background-position: center;
  /*background-size: cover;*/
  background-size: 110%;
  background-repeat: no-repeat;
}


footer{
	grid-row: 5/6;
	background-color: var(--color-E);
	display: flex;
}
footer p{
	color: var(--color-C);
	font-size: 14px;
	margin: auto;
}


/****************************loading*************************************/
.loading{
	width: 100vw;
	height: 100vh;
	background-color: var(--color-E);
	z-index: 3;
	position: fixed;
	display: flex;
}
.door {
  width: 20%;
  height: 40%;
  border: 1px solid var(--color-C);
  margin: auto;
  display: flex;
  opacity: 0;
  transform: perspective(5000px) rotate3d(0,1,0,0deg);
  transform-origin: right;
  /*animation:door 2s;*/
  animation-fill-mode:forwards;
}
#loadnig-keyhole {
	margin: auto;
	width:  21%;
}
#loadnig-key {
	margin: 43% 23%;
	width: 28%;
	position: absolute;
	display: none;
}
@keyframes door{
	0%{
		transform: perspective(5000px) rotate3d(0,1,0,0deg);
	}
	20%{
		transform: perspective(5000px) rotate3d(0,1,0,0deg);
	}
	80%{
		transform: perspective(5000px) rotate3d(0,1,0,160deg);
		opacity: 1;
	}
	100%{
		transform: perspective(5000px) rotate3d(0,1,0,160deg);
		opacity: 0;
	}
}
/*****************************show******************************************/
.cover{
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #111c;
	display: none;
}
.showBox{
	width: 60%;
	background-color: #fff;
	margin: 20vh auto;
	height: 60%;
	overflow: scroll;
}
.showBox img{
	width: 100%;
	height: auto;
}
/********************************************************/
 .workImg:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  background-image: url(../images/magnifier.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
 background-color: #14181cc9;
transition: all 0.3s linear;
}
.workImg:hover:before{
	opacity: 1;	
	background-size: 30%;
}
/***********************************************************/








/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.workBox h4 {
		font-size: 25px;
	}
	.workBox p {
		font-size: 16px;
	}
	.workImgBox {
	  width: 280px;
	  height: 180px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.workBox {
		width:min(70%,650px);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
  		grid-template-rows: 50px 230px 1450px 225px 160px;
	}
	.inner {
		grid-template-rows: repeat(3,1fr);
		grid-template-columns: 1fr 1fr;
		width: min(80%,1275px);
		grid-row-gap: 120px;
		height: 1250px;
	}
	.workBox {
		width: 100%;;
		height: ;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
	  grid-template-rows: 70px 445px 2050px 225px 160px;
	}
	main {
		width: min(100%,1675px);
		margin: 0 auto;
	}
	.inner {
		grid-column-gap: 130px;
		grid-row-gap: 200px;
		height: min(80%,1790px);
	}
}