*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Microsoft Jhenghei;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--color-A: #393E46;/*淺*/
	--color-B: #222831;/*深*/
	--color-C: #EEEEEE;/*米白*/
	--color-D: #00ADB5;/*綠*/
	--color-E: #111418;/*深底*/
}
body{
	background-color: var(--color-B);
	color: var(--color-C)
}
.container {
  display: grid;
  grid-template-rows: 50px 450px 3185px 225px 160px;x;
}
header{
	background-color: var(--color-E);
	display: inline-flex;
align-items: center;
justify-content: space-between;
}
.logo {
	width: 70px;
	height: 25px;
}
header .logo img{
	width: 70px;
	height: 25px;
}
header .hamburger{
	width: 20px;
	height: 15px;

}
.front {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info{
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
.info h2 {
  font-size: 35px;
}

.info p {
  font-size: 14px;
}

.frontImgBox {
  width: 80%;
  border: 1px solid #fff;
  height: 40%;
}
.frontImg{
	width: 100%;
	height: 100%;
	background-image: url(../../../images/web.png);
	background-size: cover;
	background-position: center;
}
.capsules {
	display: flex;
	width: 80%;
	justify-content: space-between;
}
.capsules p {
	color: var(--color-C);
	background-color: var(--color-A);
	font-size: 11px;
	border-radius: 30px;
	padding: 5px 15px;
}
main{
	grid-row: 3/4;
	background-color: var(--color-E);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.linkBox {
  height: calc(100vh - 50px - 450px);
  display: flex;
width: 100%;
}
.linkBox p {
  margin: auto;
  width: 145px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: var(--color-D);
  border-radius: 45px;
}
.linkBox p a{
	color: var(--color-C)
}
.inner{
	width: 280px;
	height: 2780px;
	border: 1px solid #fff;
	display: grid;
	grid-template-rows: repeat(7,1fr);
	grid-row-gap: 100px;
}
.foreword{
	font-size: 16px;
}
.box{
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.processImgBox{
	width: 100%;
	height: 235px;
	border: 1px solid #fff;
	overflow: hidden;
}
.processImg{
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}
.process1{
	background-image: url(process1.jpg);
	width: 120%;
	left: -14%;
	height: 100%;
}
.process2{
	background-image: url(process2.png);
	width: ;
	left: ;
	height: ;
}
.process3{
	background-image: url(process3.png);
	width: ;
	left: ;
	height: ;
}
.process4{
	background-image: url(process4.png);
	width: ;
	left: ;
	height: ;
}
.box p{
	font-size: 14px;
}
.box h3{
	font-size: 20px;
	color: var(--color-D)
}

footer{
	grid-row: 5/6;
	background-color: var(--color-E);
	display: flex;
}
footer p{
	color: var(--color-C);
	font-size: 14px;
	margin: auto;
}














/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }