#contact{
	z-index: 2;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: var(--color-blue);
	top: 0;
}


.contact-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.contact-content {
  width: 310px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(10,1fr);
  margin: auto;
  color: #f7f7f7;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

}
.contact-content h6 {
  font-size: 23px;
	grid-row: 5/6;
	color: #fff;
}
.contact-content p {
  font-size: 15px;
}
.contact-content p:nth-of-type(1) {
  grid-row: 3/4;
}

.contact-content p:nth-of-type(2) {
  grid-row: 7/8;
}

.copy {
  grid-row: 4/5;
  width: 36px;
  height: 36px;
  font-size: 12px !important;
  background-color: #fff;
  color: var(--color-blue);
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
	justify-self: end;
	box-shadow: 3px 3px 4px #185699;
  grid-row: 6/7;
  align-self: baseline;
  cursor: pointer;
  transition: 0.2s;
}
.copy-click{
	top: 2px;
	position: relative;
	left: 2px;
	box-shadow: 0px 0px 4px #185699;
}

.cross {
  width: 100%;
   display: flex;
  grid-row: 9/11;
}

.cross img {
  width: 30px;
  margin: auto;
  transition: 0.2s;
}


.color-dots {
  width: 77px;
  height: 12px;
	display: flex;
	justify-content: space-between;
  grid-row: 8/9;
}

.color-dots p {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  animation: jump 0.6s infinite alternate;
}

.color-dots p:nth-of-type(1) {
  background-color: var(--color-red);
  /*animation-delay: 0.2s;*/
}

.color-dots p:nth-of-type(2) {
  background-color: #F0F465;
  animation-delay: 0.2s;
}

.color-dots p:nth-of-type(3) {
  background-color: var(--color-green);
  animation-delay: 0.4s;
}
@keyframes jump{
	0%{
		top: 0px;
	}
	60%{
		top: 0px;
	}
	100%{
		top: -10px;
	}
}
/******************************************************************/
#contact{
	background-color: unset;
}
.contact-content{
	opacity: 0;
	z-index: 2;
	animation: visi 0.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
.ball{
	width: 30px;
	height: 30px;
background-color: var(--color-blue);

border-radius: 50%;
position: absolute;
top: 30%;


}
.ball-animation{
	animation: contact 3s infinite; 
	animation-fill-mode: forwards;
	animation-direction: alternate;
}
.ball-animation-reverse{
animation: contact 3s; 
animation-fill-mode: forwards;
animation-direction: reverse;
}


@keyframes contact{
	0%{
		top: 100%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
	50%{
		top: 30%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		transform: scale(1)
	}
	100%{
		transform: scale(80)	
	}
}
@keyframes visi{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}




















/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.contact-content {
  	 	width: 438px; 
	}
	.contact-content h6 {
		font-size: 28px;
		letter-spacing: 4px;
	}
	.contact-content p {
		font-size: 20px;
	}


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.contact-content {
		width: 500px;
	}
	.contact-content h6 {
		font-size: 32px;
	}
	.contact-content p {
		font-size: 25px;
	}
	.copy {
		width: 40px;
		height: 40px;
		font-size: 13px !important;
		line-height: 40px;
	}
	.cross img {
		width: 35px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.contact-content {
		width: 556px;
	}
	.contact-content p {
		font-size: 30px;
	}
	.contact-content h6 {
		font-size: 40px;
	}
	.copy {
		grid-row: 5/6;
		margin-left: 35px;
		justify-self: unset;
		align-self: unset;
	}
	.cross img {
		width: 40px;
	}


}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)  {
	.contact-content {
		width: 615px;
	}
	.contact-content p {
		font-size: 32px;
	}
	.contact-content h6 {
		font-size: 45px;
	}
	.copy {
		margin-left: 50px;
		width: 50px;
		height: 50px;
		font-size: 17px !important;
		line-height: 50px;
	}
	.cross img {
		width: 45px;
	}
}