*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #F2F2F2;
	padding: 20px;
	padding-bottom: 0px;
	color: rgb(13, 13, 13)
}
a{
	text-decoration: none;
	color: currentColor;
}
header{
	
}
header h1{
	font-family: 'Dancing Script', cursive;
	letter-spacing: 3px;
	font-size: 45px;
	margin-left: 25px;

}
.inline{
	display: inline;
}
#navbar{
	position: relative;
	top: -20px;
}
#navbar2{
	display: block;
	width: 500px;
	position: relative;
	float: right;
}
#navbar a{
	/*float: right;*/
	margin-right: 20px;
	text-decoration: none;
	color: #0D0D0D;
	font-family: 'Roboto', sans-serif;
}
#navbar a:hover{
	text-decoration: none;
	color: rgb(245, 168, 168);
}
/****************content********************/
#content{
	display: flex;
	width: 100%;
	height: 480px;
	flex-wrap: wrap;
}
#content1{
	margin: auto;

}
#content1 p{
	font-size: 70px;

	letter-spacing: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgba(13, 13, 13,0.8);
	font-weight: ;
}
#content1 p span{
	font-weight: normal;
	opacity: 0.5;
	color: rgb(245, 168, 168);
}

@media screen and (max-width: 1100px){
	
}
/**************about page***************************/
#about_page{
	background-color: black;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #F2F2F2;
	display: none;
}
/****************************************************/

#part2{
	width: 100%;
	height: 1800px;
	background: #fff;
	position: relative;
	top: 150px;
	display: flex;
	flex-direction: column;
}
.showDiv{
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.showDiv h2{
	color: rgba(13, 13, 13,0.8);
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	display: block;
	flex-grow: 1;
}
.showDiv .showDivContent{
	width: 100%;
	flex-grow: 30;
	display: flex;
	justify-content: center;

}
.showDiv .showDivContent .imgBox{
	margin: auto;
	position: relative;
	width: 600px;
}
.showDiv .showDivContent img{
	display: block;
}
