.web .chooseLine,.redesign .chooseLine,.ui .chooseLine,.pixel .chooseLine{
	visibility: hidden;
}

.ui .chooseLine{
	width: 150%;
	left: calc(-50% / 2)
}

.typeBox h3:hover .chooseLine{
	visibility: visible;
	animation-name: hover;
	animation-duration: 0.25s;
	animation-timing-function: linear;
}

@keyframes hover{
	from{
		width: 0;
	}
	to{
		width: 120%;
	}
}
.visible{
	visibility: visible !important;
}