body{
	background-color: #F2F2F2;
	padding: 20px;
	padding-bottom: 0px;
}
a{
	text-decoration: none;
	color: currentColor;
}
header{
	
}
header h1{
	font-family: 'Dancing Script', cursive;
	letter-spacing: 3px;
	font-size: 45px;
	margin-left: 25px;
}
.inline{
	display: inline;
}
#navbar{
	position: relative;
	top: -20px;
}
#navbar2{
	display: block;
	width: 500px;
	position: relative;
	float: right;
}
#navbar a{
	/*float: right;*/
	margin-right: 20px;
	text-decoration: none;
	color: #0D0D0D;
	font-family: 'Roboto', sans-serif;
}
#navbar a:hover{
	text-decoration: none;
	color: white;
}
/****************content********************/
#content{
	display: flex;
	width: 100%;
	height: 480px;
	flex-wrap: wrap;
}
#show{
	height: 400px;
	width: 600px;
	border: white 5px solid;
	margin: auto;
	box-shadow: 0 0 5px #0D0D0D;
}
#show img{
	/*display: none;*/
	opacity: 0.9;
}
#show img:hover{
	opacity: 1;

}
#words{
	width: 200px;
	height: 300px;
	border: black 1px solid;
	position: absolute;
	top: 200px;
	right: 20px;
}
#links{
	border: black 1px solid;
	width: 100%;
	height: 100px;
}
@media screen and (max-width: 1100px){
	
}
/**************about page***************************/
#about_page{
	background-color: black;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #F2F2F2;
	display: none;
}

